.contain {
  justify-content: center;
  align-items: center;
  width: 500px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000; 
  box-shadow: 2px 4px 4px 4px bla;
}
.boxes{
  display: none;
}
.boxR {
  box-sizing: border-box;
  border: none;
  width: 27px;
  height: 27px;
  background: linear-gradient(
    to right,
    red 0%,
    red 25%,
    green 25%,
    green 50%,
    blue 50%,
    blue 75%,
    yellow 75%,
    yellow 100%
  );
}

.box1{
  box-sizing: border-box;
  border: none;
  width: 27px;
  height: 27px;
  background-color: red;
}

.box2 {
  box-sizing: border-box;
  border: none;
  width: 27px;
  height: 27px;
  background-color: green;
}

.box3 {
  box-sizing: border-box;
  border: none;
  width: 27px;
  height: 27px;
  background-color: blue;
}

.box4 {
  box-sizing: border-box;
  border: none;
  width: 27px;
  height: 27px;
  background-color: yellow;
}

.box5 {
  box-sizing: border-box;
  border: none;
  width: 27px;
  height: 27px;
  background-color: pink;
}

.box6 {
  box-sizing: border-box;
  border: none;
  width: 27px;
  height: 27px;
  background-color: black;
}

.box7 {
  box-sizing: border-box;
  border: 1px solid black;
  width: 27px;
  height: 27px;
  background-color: white;
}

.box8 {
  box-sizing: border-box;
  border: none;
  width: 27px;
  height: 27px;
  background-color: purple;
}

.box9 {
  box-sizing: border-box;
  border: none;
  width: 27px;
  height: 27px;
  background-color: orange;
}

.box10 {
  box-sizing: border-box;
  border: none;
  width: 27px;
  height: 27px;
  background-color: brown;
}

.butt {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  --font-color-dark: #323232;
  --font-color-light: #fff;
  --bg-color: #fff;
  --main-color: #323232;
  position: relative;
  height: 43px;
  background-color: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 34px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 4px 4px 4px var(--main-color);
}

.option {
  width: 80.5px;
  height: 35px;
  position: relative;
  top: 2px;
  left: 2px;
}

.inputRandom,
.inputOne,
.inputTwo,
.inputThree,
.inputFour,
.inputFive,
.inputSix,
.inputSeven,
.inputEight,
.inputNine,
.inputTen {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  appearance: none;
  cursor: pointer;
}

.color {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coloRed{
  background-color: red;
  box-shadow: 2px 4px 24px 4px red;
  font-weight: 800;
  padding: 3px 20px;
  height: 100%;
  color: white;
  border-radius: 20px;
  
}
.colorBlue{
  background-color: blue;
  box-shadow: 2px 4px 24px 4px blue;
  font-weight: 800;
  padding: 3px 20px;
  height: 100%;
  color: white;
  border-radius: 20px;
  
}
.colorGreen{
  background-color: green;
  box-shadow: 2px 4px 24px 4px lime;
  font-weight: 800;
  padding: 3px 20px;
  height: 100%;
  color: white;
  border-radius: 20px;
  
}
.colorYellow{
  background-color: yellow;
  box-shadow: 2px 4px 24px 4px yellow;
  font-weight: 800;
  padding: 3px 20px;
  height: 100%;
  color: white;
  border-radius: 20px;
  
}
.colorPink{
  background-color: rgb(253, 17, 182);
  box-shadow: 2px 4px 24px 4px rgb(253, 17, 182);
  font-weight: 800;
  padding: 3px 20px;
  height: 100%;
  color: white;
  border-radius: 20px;
  
}
.colorBlack{
  background-color: black;
  box-shadow: 2px 4px 24px 4px grey;
  font-weight: 800;
  padding: 3px 20px;
  height: 100%;
  color: white;
  border-radius: 20px;
  
}
.colorWhite{
  background-color: whitesmoke;
  box-shadow: 2px 4px 24px 4px whitesmoke;
  font-weight: 800;
  padding: 3px 20px;
  height: 100%;
  color: Black;
  border-radius: 20px;
  
}
.colorOrange{
  background-color: orange;
  box-shadow: 2px 4px 24px 4px orange;
  font-weight: 800;
  padding: 3px 20px;
  height: 100%;
  color: white;
  border-radius: 20px;
  
}
.colorPurple{
  background-color: purple;
  box-shadow: 2px 4px 24px 4px purple;
  font-weight: 800;
  padding: 3px 20px;
  height: 100%;
  color: white;
  border-radius: 20px;
  
}
.colorBrown{
  background-color: brown;
  box-shadow: 2px 4px 24px 4px orangered;
  font-weight: 800;
  padding: 3px 20px;
  height: 100%;
  color: white;
  border-radius: 20px;
  
}
.span {
  color: black;
  font-weight: 800;
}
.box1{
  color: rgb(254, 2, 2);
}
.inputRandom:checked + .color{
  background: linear-gradient(
    to right,
    red 0%,
    red 25%,
    green 25%,
    green 50%,
    blue 50%,
    blue 75%,
    yellow 75%,
    yellow 100%
  );
  box-shadow: 2px 4px 24px 4px var(--font-color-dark);
}
.inputRandom:hover + .color .span{
  background: linear-gradient(to right, red, orange, yellow, green, blue); /* Define the linear gradient with up to five colors */
  -webkit-background-clip: text; 
  color: transparent; 
  display: inline-block; 
}

.inputOne:checked + .color {
  background: red;
  box-shadow: 2px 4px 24px 4px red;
  transition: 0.1s ease-in-out;
}

.inputOne:hover + .color .span{
  color: red;
  transition: 0.3s;
}

.inputTwo:checked + .color {
  background: green;
  box-shadow: 2px 4px 24px 4px lime;
  transition: 0.1s ease-in-out;
}
.inputTwo:hover + .color .span{
  color: green;
  transition: 0.3s;
}

.inputThree:checked + .color {
  background: blue;
  box-shadow: 2px 4px 24px 4px blue;
  transition: 0.1s ease-in-out;
}
.inputThree:hover + .color .span{
  color: blue;
  transition: 0.3s;
}

.inputFour:checked + .color {
  background: yellow;
  box-shadow: 2px 4px 24px 4px yellow;
  transition: 0.1s ease-in-out;
}
.inputFour:hover + .color .span{
  color: yellow;
  transition: 0.3s;
}

.inputFive:checked + .color {
  background: pink;
  box-shadow: 2px 4px 34px 4px pink;
  transition: 0.1s ease-in-out;
}
.inputFive:hover + .color .span{
  color: rgb(242, 48, 142);
  transition: 0.3s;
}

.inputSix:checked + .color {
  background: black;
  transition: 0.1s ease-in-out;
  box-shadow: 2px 4px 34px 4px grey;
}
.inputSix:hover + .color .span{
  color: #323232;
  transition: 0.3s;
}

.inputSeven:checked + .color {
  box-shadow: 2px 4px 4px 4px var(--main-color);
  background: white;
  transition: 0.1s ease-in-out;
}


.inputEight:checked + .color {
  background: purple;
  box-shadow: 2px 4px 24px 10px purple;
  transition: 0.1s ease-in-out;
}
.inputEight:hover + .color .span{
  color: purple;
  transition: 0.3s;
}

.inputNine:checked + .color {
  background: orange;
  box-shadow: 2px 4px 24px 4px orange;
  transition: 0.1s ease-in-out;
}
.inputNine:hover + .color .span{
  color: orange;
  transition: 0.3s;
}

.inputTen:checked + .color {
  background: brown;
  box-shadow: 2px 4px 24px 4px brown;
  transition: 0.1s ease-in-out;
}
.inputTen:hover + .color .span{
  color: brown;
  transition: 0.3s;
}

.inputOne:checked + .color .span,
.inputTwo:checked + .color .span,
.inputThree:checked + .color .span,
.inputFour:checked + .color .span,
.inputFive:checked + .color .span,
.inputSix:checked + .color .span,
.inputEight:checked + .color .span,
.inputNine:checked + .color .span,
.inputTen:checked + .color .span {
  color: white;
}
.contain, .changeColor{
  box-shadow: 20px 20px 60px #c5c5c5;
}

.copied{
  background-color: rgba(0, 0, 0, 0.5);
}
.changeColor{
  background-color: rgba(0, 0, 0, 0.5);
  width: 500px;
}
.rgb{
  cursor: pointer;
}
@media (max-width: 768px) {
  body{
    overflow-x: hidden;
  }
  .contain{
    width: 370px;
  }
  .font{
    font-size: 25px;
    margin-top: 22px;
  }
  .changeColor{
    width: 300px;
  }
  .boxes{
    display: block;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 15px;
  }
  .wrapper{
   height: 130px;
  }
 .container{
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;
 }
 .co{
  display: none;
 }
 /* .option{
  flex: 1rem 0 5rem;
 } */
}